html{
    background-color: wheat;
    color: darkred;
}
h1 {
    text-align: center;
}
h2 {
    color: red;
}
p {
    color: brown;
}
p.der {
    text-align: right;
    }
    
    p.cen {
        text-align: center;
    }
    
    p.izq{ 
        text-align: left;
    }
li.neg {
    color: black;
}    
ul.nor {
    color: brown;
}

ol.nor {
    color:brown;
}